@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
}

h2 {
  font-weight: 400;
  font-size: 30px;
}

p {
  margin: 10px 0px;
}

img {
  width: 100%;
}

/* navbar */

#navbar {
  display: flex;
  position: fixed;
  top: 0px;
  background-color:#ED7833;
  color: white;
  height: 80px;
  width: 100vw;
  opacity: .6;
}

.menu ul {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100%;
}

@media screen and (max-width: 420px){
  .menu ul {
    font-size: 12px;
  }
}

.menu a {
  display: block;
  padding: 20px 10px;
  color: white;
  height: 100%;
}

.menu a:hover {
  font-weight: bolder;
}

/* Home */

.main {
  background-image: url('/img/Teaser_Logo_Horizontal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
  position: relative;
  z-index: -1;
  width: 100%;
  /* margin-top: 80px; */
}

@media screen and (max-width: 768px){
  .main {
  background-image: url('/img/Teaser_Logo_Vertical.png');
  width: 100%;
  margin-top: 0px;
  }
}

.main .logo {
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Philosophy */

#philosophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-image: url('/img/tree-circles-clean.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 850px;
  z-index: -1; 
}

@media screen and (min-width: 1100px){
  #philosophy{
    height: 1500px;
  }
}

@media screen and (min-width: 2200px){
  #philosophy{
    height: 2000px;
    margin-top: 500px;
  }
}
.why-pilates { 
  font-size: 24px;
}
@media screen and (max-width: 1100px) {
  .why-pilates {
    font-size: 18px;
  }
}

@media screen and (min-width: 2200px) {
  .why-pilates {
    font-size: 36px;
  }
}
.why-pilates h1{
  font-weight: 600;
  font-size: 60px;
}
@media screen and (min-width: 2200px) {
  .why-pilates h1{
    font-size: 80px;
  }
}

#katies-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: relative;
  width: 100%;
  height: auto;
  background-color:#fff;
  color: #333;
  font-size: 16px;
  z-index: -1;
  margin-bottom: 50px;
}

/* @media screen and (max-width: 946px){
  #katies-history {
    height: 1000px;
  }
} */

@media screen and (max-width: 636px) {
  #katies-history {
    font-size: 12px;
  }
}

/* @media screen and (max-width: 466px) {
  #katies-history {
    height: 1200px;
  }
} */


.history {
  margin: 20px 30px;
}

.history i {
  justify-content: center;
}

/* .class-and-contact-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
} */

/* Classes */

#classes {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center; 
  text-align: center;
  width: 100%;
  height: 650px;
  background-color:#F2EFEA; 
  background-image: url('/img/katie-ybarra-curl-frame-no-border.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
}

/* @media screen and (max-width: 1042px){
  #classes {
    background-color: white;
  }
} */

@media screen and (max-width: 934px){
  #classes {
    height: 400px;
    background-size: contain;
  }
}

@media screen and (max-width: 506px) {
  #classes {
    height: 300px;
  }
}
/* .h1-and-button-wrapper {
  position: relative;
  top: 30%;
  z-index: -2;
  height: fit-content;
} */

#classes h1 {
  position: relative;
  padding: 10px 20px;
}

@media screen and (max-width: 420px){
  #classes h1{
    font-size: 20px;
  }
}

#classes a{
  height: fit-content;
}


.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 10px;
  background-color: #493740;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
}

#classes a:hover {
  opacity: 0.9;
}

@media screen and (max-width: 420px){
  .btn {
    font-size: 14px;
  }
}

/* Contact Me */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 200px;
  background-color:#493740;
  color: white; 
}

.contact p{
  color: white;
}

/* @media screen and (max-width: 934px){
  #contact {
    margin-top: -60px;
  }
} */






